<footer class="site-footer" style="background-color: {{ section.settings.footer_color }}">
  <div class="footer-info">
    <a href={{section.settings.contact_url}}>Kontakt</a>
    <a href={{section.settings.tos_url}}>Handelsbetingelser</a>
    <a href={{section.settings.privacy_cookie_url}}>Privatlivs- og cookiepolitik</a>
    <a href={{section.settings.smiley_url}} target="_blank" rel="noopener">Smileyrapport</a>

    <p>CVR: {{section.settings.cvr}}</p>
    <p>© Copyright {{ 'now' | date: "%Y" }} Cocktail-kits</p>
  </div>

  <div class="socials">
    <a href={{section.settings.facebook_url}} target="_blank" rel="noopener"><img src="{{ 'facebook-f.svg' | asset_url }}" alt="Cocktail-kits Facebook" style="width: 25px; height: 25px;"></a>
    <a href={{section.settings.youtube_url}} target="_blank" rel="noopener"><img src="{{ 'youtube.svg' | asset_url }}" alt="Cocktail-kits Youtube" style="width: 25px; height: 25px;"></a>
    <a href={{section.settings.instagram_url}} target="_blank" rel="noopener"><img src="{{ 'instagram.svg' | asset_url }}" alt="Cocktail-kits Instagram" style="width: 25px; height: 25px;"></a>
  </div>
</footer>

{% schema %}
{
  "name": {
    "de": "Footer",
    "en": "Footer",
    "es": "Footer",
    "fr": "Image avec texte",
    "it": "Immagine con testo",
    "ja": "テキストオーバーレイ付き画像",
    "nl": "Foto met tekstoverlay",
    "pt-BR": "Imagem com texto",
    "zh-CN": "带文本叠加的图片",
    "zh-TW": "附文字疊加的圖片"
  },
  "settings": [ 
    {
      "type": "color",
      "id": "footer_color",
      "label": "Footer Color",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "id": "contact_url",
      "label": {
        "de": "Contact URL",
        "en": "Contact URL",
        "es": "Contact URL",
        "fr": "Contact URL",
        "it": "Contact URL",
        "ja": "Contact URL",
        "nl": "Contact URL",
        "pt-BR": "Contact URL",
        "zh-CN": "Contact URL",
        "zh-TW": "Contact URL"
      }
    },
    {
      "type": "url",
      "id": "tos_url",
      "label": {
        "de": "Terms & conditions URL",
        "en": "Terms & conditions URL",
        "es": "Terms & conditions URL",
        "fr": "Terms & conditions URL",
        "it": "Terms & conditions URL",
        "ja": "Terms & conditions URL",
        "nl": "Terms & conditions URL",
        "pt-BR": "Terms & conditions URL",
        "zh-CN": "Terms & conditions URL",
        "zh-TW": "Terms & conditions URL"
      }
    },
    {
      "type": "url",
      "id": "privacy_cookie_url",
      "label": {
        "de": "Privacy & Cookie Policy URL",
        "en": "Privacy & Cookie Policy URL",
        "es": "Privacy & Cookie Policy URL",
        "fr": "Privacy & Cookie Policy URL",
        "it": "Privacy & Cookie Policy URL",
        "ja": "Privacy & Cookie Policy URL",
        "nl": "Privacy & Cookie Policy URL",
        "pt-BR": "Privacy & Cookie Policy URL",
        "zh-CN": "Privacy & Cookie Policy URL",
        "zh-TW": "Privacy & Cookie Policy URL"
      }
    },
    {
      "type": "url",
      "id": "smiley_url",
      "label": {
        "en": "Smiley Rapport"
      }
    },
    {
      "type": "text",
      "id": "cvr",
      "label": {
        "de": "CVR",
        "en": "CVR",
        "es": "cvr",
        "fr": "cvr",
        "it": "cvr",
        "ja": "cvr",
        "nl": "cvr",
        "pt-BR": "cvr",
        "zh-CN": "cvr",
        "zh-TW": "cvr"
      }
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": {
        "de": "Facebook URL",
        "en": "Facebook URL",
        "es": "Facebook URL",
        "fr": "Facebook URL",
        "it": "Facebook URL",
        "ja": "Facebook URL",
        "nl": "Facebook URL",
        "pt-BR": "Facebook URL",
        "zh-CN": "Facebook URL",
        "zh-TW": "Facebook URL"
      }
    },
    {
      "type": "url",
      "id": "youtube_url",
      "label": {
        "de": "Youtube URL",
        "en": "Youtube URL",
        "es": "Youtube URL",
        "fr": "Youtube URL",
        "it": "Youtube URL",
        "ja": "Youtube URL",
        "nl": "Youtube URL",
        "pt-BR": "Youtube URL",
        "zh-CN": "Youtube URL",
        "zh-TW": "Youtube URL"
      }
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": {
        "de": "Instagram URL",
        "en": "Instagram URL",
        "es": "Instagram URL",
        "fr": "Instagram URL",
        "it": "Instagram URL",
        "ja": "Instagram URL",
        "nl": "Instagram URL",
        "pt-BR": "Instagram URL",
        "zh-CN": "Instagram URL",
        "zh-TW": "Instagram URL"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Footer",
        "en": "Footer",
        "es": "Imagen con texto",
        "fr": "Image avec superposition de texte",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加的圖片"
      },
      "category": {
        "de": "Footer",
        "en": "Footer",
        "es": "Footer",
        "fr": "Footer",
        "it": "Footer",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}